<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    {% block header %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}{{ title|default('')|trans }}{% endblock %}</title>

        {% block favicons %}{% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block content %}
    <div class="whatwedo_crud-wrapper h-screen flex overflow-hidden">
        {% include "@whatwedoCrud/includes/_navigation.html.twig" %}
        <main
            class="whatwedo_crud-main flex flex-col flex-1 relative z-0 overflow-y-auto focus:outline-none"
            {{ stimulus_controller({'whatwedo/table-bundle/filter': {}, 'whatwedo/table-bundle/table': {}}) }}
        >
            <nav class="whatwedo_crud-nav flex-grow-0 bg-white flex-auto border-b border-neutral-200 px-4 py-4 sm:flex sm:justify-between">
                {% include "@whatwedoCrud/includes/main/_breadcrumbs.html.twig" %}
                {% include "@whatwedoCrud/includes/main/_actions.html.twig" %}
            </nav>
            {% include "@whatwedoCrud/includes/main/_messages.html.twig" %}
            {% block main %}
            {% endblock %}
        </main>

    </div>
{% endblock %}
</body>
</html>
