{% for label, messages in app.flashes %}
    {# Global notification live region, render this permanently at the end of the document #}
    <div aria-live="assertive" class="fixed inset-0 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start">
        <div class="w-full flex flex-col items-center space-y-4 sm:items-end">

            {% for message in messages %}
            <div
                data-controller="notification"
                data-notification-delay-value="2000"
                class="whatwedo_crud-message transition transform duration-1000 hidden max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden"
                data-transition-enter-from="opacity-0 translate-x-6 sm:translate-y-0 sm:translate-x-2"
                data-transition-enter-to="opacity-100 translate-x-0 sm:translate-x-0"
                data-transition-leave-from="opacity-100 translate-x-0"
                data-transition-leave-to="opacity-0 translate-x-6"
            >
                <div class="p-4">
                    <div class="flex items-start">

                            <div class="flex-shrink-0">
                                {% if label == 'success' %}
                                    {{ bootstrap_icon('check-circle', { class: 'h-6 w-6 text-success-500' }) }}
                                {% elseif label == 'warning' %}
                                    {{ bootstrap_icon('exclamation-circle', { class: 'h-6 w-6 text-warning-500' }) }}
                                {% elseif label == 'error' %}
                                    {{ bootstrap_icon('x-circle', { class: 'h-6 w-6 text-error-500' }) }}
                                {% endif %}
                            </div>
                            <div class="ml-3 w-0 flex-1 pt-0.5">
                                <p class="text-sm font-medium text-gray-900">
                                    {{ message|trans|raw }}
                                </p>
                            </div>
                            <div class="ml-4 flex-shrink-0 flex">
                                <button
                                    {{ stimulus_action('notification', 'hide') }}
                                    class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
                                >
                                    <span class="sr-only">Close</span>
                                    {{ bootstrap_icon('x', { class: 'h-6 w-6 text-black' }) }}
                                </button>
                            </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
