
{% block index %}
    <div class="row">
        <div class="col-xs-12">
            {% if table.options.attr.class is not defined %}
                {% set contentAttr = table.options.attr|merge({
                    class: 'box whatwedo_table whatwedo_table_' ~ table.identifier
                }) %}
            {% else %}
                {% set contentAttr = table.options.table_attr|merge({
                    class: 'box whatwedo_table whatwedo_table_' ~ table.identifier ~ ' ' ~ table.options.attr.class
                }) %}
            {% endif %}

            {% set contentAttr = contentAttr|merge({
                id: 'whatwedo_table_' ~ table.identifier,
                'data-identifier': table.identifier
            }) %}

            {% set hasSearchArea = table.searchExtension or table.paginationExtension or table.filterExtension or table.exportRoute %}

            {% embed '@whatwedoCrud/Templates/box.html.twig' with { boxAttributes: contentAttr } %}
                {% block headerBlock %}
                    {% if hasSearchArea %}
                        {% include '@whatwedoTable/_search.html.twig' %}
                    {% endif %}
                {% endblock %}

                {% block boxBody %}
                    {% include '@whatwedoTable/_filter.html.twig' %}
                    {{ crud_table(table) }}
                {% endblock %}

                {% block boxFooter %}
                    {% include '@whatwedoTable/_foot.html.twig' %}
                {% endblock %}

                {% block postFooter %}
                    <div class="whatwedo_table-overlay">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}

{% block create %}
    {{ form_start(form, {
        'attr': {
            'class': 'default-crud-form'
        }
    }) }}

    {% for block in view.blocks(constant('whatwedo\\CrudBundle\\Enum\\VisibilityEnum::CREATE')) %}
        {{ crud_block(view, block) }}
    {% endfor %}

    <div class="row">
        <div class="col-lg-12">
            {% embed '@whatwedoCrud/Templates/box.html.twig' with { title: 'crud.button.save'|trans,  boxAttributes: { class: 'box box-primary'} } %}
                {% block boxBody %}
                    <button type="submit" class="btn btn-warning whatwedo-save">
                        <i class="fa fa-floppy-o"></i>
                        {{  'crud.button.create'|trans }}
                    </button>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block edit %}
    {{ form_start(form, {
        'attr': {
            'class': 'default-crud-form'
        }
    }) }}

    {% for block in view.blocks(constant('whatwedo\\CrudBundle\\Enum\\VisibilityEnum::EDIT')) %}
        {{ crud_block(view, block) }}
    {% endfor %}

    <div class="row">
        <div class="col-lg-12">
            {% embed '@whatwedoCrud/Templates/box.html.twig' with { title: 'Speichern',  boxAttributes: { class: 'box box-primary'} } %}
                {% block boxBody %}
                    <button type="submit" class="btn btn-warning whatwedo-save">
                        <i class="fa fa-floppy-o"></i>
                        Speichern
                    </button>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block show %}
    {% for block in view.blocks(constant('whatwedo\\CrudBundle\\Enum\\VisibilityEnum::SHOW')) %}
        {{ crud_block(view, block) }}
    {% endfor %}
{% endblock %}


{% block block %}
    {% if block is defined %}
        {% if block.attr.class is not defined %}
            {% set blockAttr = block.attr|merge({ class: '' }) %}
        {% else %}
            {% set blockAttr = block.attr %}
        {% endif %}

        {% if block.size == 'small' %}
            {% set blockAttr = blockAttr|merge({
                class: 'box col-lg-6 box_create box_' ~ block.acronym ~ ' ' ~ blockAttr.class
            }) %}
        {% else %}
            {% set blockAttr = blockAttr|merge({
                class: 'box col-lg-12 box_create box_' ~ block.acronym ~ ' ' ~ blockAttr.class
            }) %}
        {% endif %}
    {% endif %}

    {% embed '@whatwedoCrud/Templates/box.html.twig' with { boxAttributes: blockAttr, boxTitle: block.label } %}
        {% block boxBody %}
            {% for content in block.contents %}
                {{ crud_content_row(view, content) }}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content_row %}
    <code>renderMode "{{ renderMode }}" not supported yet</code>
{% endblock %}

{% block content_create_row %}
    <div data-identifier="{{ content.acronym }}-row">
        {% if attribute(form, content.acronym) is defined %}
            <div class="form-group{% if attribute(form, content.acronym).vars.errors|length %} has-error{% endif %} form-group__{{ content.acronym }}">
                {% if content.label %}
                    <label for="{{ attribute(form, content.acronym).vars.id }}">
                        {% if attribute(form, content.acronym).vars.errors|length %}
                            <i class="fa fa-times-circle-o"></i>
                        {% endif %}
                        {{ content.label | trans }}:
                        {% for attrname, attrvalue in attribute(form, content.acronym).vars.attr %}
                            {% if attrname == 'help' %}
                                &nbsp;<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                                         title="{{ attrvalue }}"></i>
                            {% endif %}
                        {% endfor %}
                    </label>
                {% endif %}
                {{ form_widget(attribute(form, content.acronym)) }}

                {% if attribute(form, content.acronym).vars.errors|length %}
                    <div class="help-block">
                        {{ form_errors(attribute(form, content.acronym)) }}
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if content.label and content.isTable %}
                <label>
                    {{ content.label }}:
                </label>
                <i>Diese Felder können nach dem Hinzufügen bearbeitet werden.</i>
            {% endif %}
            {% if content.isTwigContent is defined and content.isTwigContent %}
                {% include content.template with content.parameters %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block content_edit_row %}
    <div data-identifier="{{ content.acronym }}-row">
        {% if attribute(form, content.acronym) is defined %}
            <div class="form-group{% if attribute(form, content.acronym).vars.errors|length %} has-error{% endif %} form-group__{{ content.acronym }}">
                {% if content.label %}
                    <label for="{{ attribute(form, content.acronym).vars.id }}">
                        {% if attribute(form, content.acronym).vars.errors|length %}
                            <i class="fa fa-times-circle-o"></i>
                        {% endif %}
                        {{ content.label | trans }}:
                        {% for attrname, attrvalue in attribute(form, content.acronym).vars.attr %}
                            {% if attrname == 'help' %}
                                &nbsp;<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                                         title="{{ attrvalue }}"></i>
                            {% endif %}
                        {% endfor %}
                    </label>
                {% endif %}
                {{ form_widget(attribute(form, content.acronym)) }}

                {% if attribute(form, content.acronym).vars.errors|length %}
                    <div class="help-block">
                        {{ form_errors(attribute(form, content.acronym)) }}
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if content.label and content.isTable %}
                <label>
                    {{ content.label }}:
                </label>
                <i>Diese Felder können nach dem Hinzufügen bearbeitet werden.</i>
            {% endif %}
            {% if content.isTwigContent is defined and content.isTwigContent %}
                {% include content.template with content.parameters %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block content_show_row %}
    <div data-identifier="{{ content.acronym }}-row">
        {% if content.attr.class is not defined %}
            {% set contentAttr = content.attr|merge({
                class: 'content_show content_' ~ block.acronym
            }) %}
        {% else %}
            {% set contentAttr = content.attr|merge({
                class: 'content_show content_' ~ block.acronym ~ ' ' ~ content.attr.class
            }) %}
        {% endif %}

        <div {{ contentAttr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}>
            {% set value = content.render(view.data) %}
            {% if value is iterable %}
                {% for key, v in value %}
                    <div class="row">
                        <div class="col-xs-4">
                            <strong>{{ key }}:</strong>
                        </div>
                        <div class="col-xs-8">
                            {{ view.linkIt(v, content)|raw }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-xs-4">
                        <strong>{{ content.label | trans }}{% if content.label is not empty %}:{% endif %}
                            {% if content.help is not empty %}&nbsp;<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{ content.help }}"></i>{% endif %}
                        </strong>
                    </div>
                    <div class="col-xs-8">
                        {{ view.linkIt(value, content)|raw }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block twig_content_show_row %}
    <div>
        {% if content.attr.class is not defined %}
            {% set contentAttr = content.attr|merge({
                class: 'content_show content_' ~ block.acronym
            }) %}
        {% else %}
            {% set contentAttr = content.attr|merge({
                class: 'content_show content_' ~ block.acronym ~ ' ' ~ content.attr.class
            }) %}
        {% endif %}

        <div {{ contentAttr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}>
            {% include content.template with content.parameters  %}
        </div>
    </div>
{% endblock %}

{% block relation_content_show_row %}
    <div>
        {% if content.attr.class is not defined %}
            {% set contentAttr = content.attr|merge({
                class: 'content_show content_' ~ block.acronym
            }) %}
        {% else %}
            {% set contentAttr = content.attr|merge({
                class: 'content_show content_' ~ block.acronym ~ ' ' ~ content.attr.class
            }) %}
        {% endif %}

        <div {{ contentAttr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}>

            {% if content.label is not empty %}
                <div class="row">
                    <div class="col-lg-12">
                        <strong>{{ content.label|trans }}:</strong>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    {{ crud_table(content.table(view.data)) }}
                </div>
            </div>
            {% if content.createRoute is defined and content.createRoute %}
                <div class="row">
                    <div class="col-lg-12 text-right">

                        {{ crud_actions(content.actions) }}

                        {% if content.indexRoute %}
                            <a href="{{ path(content.indexRoute, content.createRouteParameters(view.data)) }}" class="btn btn-primary btn-xs">
                                <i class="fa fa-list"></i>
                                {{ 'whatwedo_crud.show_all' | trans }}
                            </a>
                        {% endif %}
                        {% block add_button %}
                            {% if content.createRoute and content.isAddAllowed|default %}
                                <a href="{{ path(content.createRoute, content.createRouteParameters(view.data)) }}" class="btn btn-success btn-xs">
                                    <i class="fa fa-plus"></i>
                                    {{ 'whatwedo_crud.add' | trans }}
                                </a>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block table %}
    {% if table.options.table_attr.class is not defined %}
        {% set contentAttr = table.options.table_attr|merge({
            class: 'table table-striped table-hover whatwedo_table_inner whatwedo_table_inner_' ~ table.identifier
        }) %}
    {% else %}
        {% set contentAttr = table.options.table_attr|merge({
            class: 'table table-striped table-hover whatwedo_table_inner whatwedo_table_inner_' ~ table.identifier ~ ' ' ~ table.options.table_attr.class
        }) %}
    {% endif %}

    {% set contentAttr = contentAttr|merge({
        id: 'whatwedo_table_' ~ table.identifier,
        'data-identifier': table.identifier
    }) %}

    <div class="table-responsive">
        <table class="table table-striped table-hover whatwedo_table_inner whatwedo_table_inner_'{{ table.identifier }}">
            <thead class="thead-default">
            <tr>
                {% for tableHeaderKey, column in table.columns %}
                    {{ crud_table_header_cell(column) }}
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% if table.rows|length > 0 %}
                {% for row in table.rows %}
                    {% set showRoute = table.getShowRoute(row.data) %}
                    <tr{% if showRoute %} data-href="{{ path(showRoute, { id: row.data.id }) }}"{% endif %}>
                        {% for column in row %}
                            {{ crud_table_content_cell(column, row) }}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="whatwedo_table_inner-no_results_row">
                    <td colspan="{{ table.columns|length + 1 }}" class="text-center">
                        <em>{{ 'whatwedo_table.no_results'|trans }}</em>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block table_header %}
    {% set columnSortOrder = table.getSortOrder(column) %}
    <th class="{% if columnSortOrder %}sorted {% endif %}{{ column.thClass }}" nowrap>
        {{ column.label|trans }}
        {% if table.sortable and column.sortableColumn and column.isSortable %}
            &nbsp;
            {% if columnSortOrder == 'ASC' %}
                <a href="{{ column.orderQueryDESC(app.request.query) }}"><i class="fa fa-sort-asc"></i></a>
            {% else %}
                <a href="{{ column.orderQueryASC(app.request.query) }}"><i class="fa fa-sort{{ columnSortOrder ? '-desc' }}"></i></a>
            {% endif %}

            {% if columnSortOrder and not table.defaultSort %}
                <a href="{{ column.deleteOrder(app.request.query) }}"><i class="fa fa-times"></i></a>
            {% endif %}
        {% endif %}
    </th>
{% endblock %}

{% block table_cell %}
    <td class="{{ column.tdClass }}">
        {{ column.render(rowData)|raw }}
    </td>
{% endblock %}

{% block action_table_cell %}
    <td class="{{ column.tdClass }}" nowrap>
        <div class="btn-group" role="group">
            {% for item in column.items(row.data) %}
                {% if not item.voter_attribute or is_granted(item.voter_attribute, row.data) %}
                    <a href="{{ path(item.route, item.route_parameters|merge({ id: row.data.id })) }}" class="btn btn-{{ item.button }} btn-xs" title="{{ item.label }}">
                        <i class="fa fa-{{ item.icon }}"></i>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </td>
{% endblock %}

{% block crud_temp %}
    <code>block crud_temp</code>
{% endblock %}



