{% block action %}
    {# @var action \whatwedo\CrudBundle\Action\Action #}
    {# @var link string #}
    {% set attr = {
        href: path(action.option('route'), action.option('route_parameters')),
        class: 'whatwedo-crud-button--action',
        role: 'menuitem',
        tabindex: '-1',
    }|merge(action.option('attr')|default([])) %}
    <a {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}>
        {% if action.option('icon') %}
            {{ bootstrap_icon(action.option('icon'), {
                class: 'inline mr-1 h-4 w-4'
            }) }}
        {% endif %}
        {{ action.option('label')|trans }}
    </a>
{% endblock %}

{% block submit_action %}
    {# @var action \whatwedo\CrudBundle\Action\Action #}
    {# @var link string #}
    {% set attr = {
        id: 'whatwedo-crud-submit',
        class: 'whatwedo-crud-button--action',
        role: 'menuitem',
        tabindex: '-1',
        type: 'submit',
    }|merge(action.option('attr')|default([])) %}
    <button {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}>
        {% if action.option('icon') %}
            {{ bootstrap_icon(action.option('icon'), {
                class: 'inline mr-1 h-4 w-4'
            }) }}
        {% endif %}
        {{ action.option('label')|trans }}
    </button>
{% endblock %}

{% block delete_action %}
    {# @var action \whatwedo\CrudBundle\Action\Action #}
    {# @var link string #}
    {% set attr = {
        class: 'whatwedo-crud-button--action-delete',
        role: 'menuitem',
        tabindex: '-1',
        type: 'submit',
    }|merge(action.option('attr')|default([])) %}

        <div
            {{ stimulus_controller('whatwedo/core-bundle/dropdown') }}
            class="relative inline-block"
        >
            <button
                {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}
                {{ stimulus_action({'whatwedo/core-bundle/dropdown': ['toggle', {'click@window': 'hide'}]}) }}
            >
                {% if action.option('icon') %}
                    {{ bootstrap_icon(action.option('icon'), {
                        class: 'inline mr-1 h-4 w-4'
                    }) }}
                {% endif %}
                {{ action.option('label')|trans }}
            </button>

            <div
                {{ stimulus_target('whatwedo/core-bundle/dropdown', 'menu') }}
                class="hidden transition duration-300 transform w-72 origin-top-right absolute right-0 -bottom-3 transform translate-y-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5"
                data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100"
                data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95"
                tabindex="-1"
            >
                <form
                    class="flex items-center justify-between px-4 py-3"
                    method="post"
                    action="{{ path(action.option('route'), action.option('route_parameters')) }}"
                >
                    <p class="text-sm text-gray-500 mr-4">
                        {{ action.getOption('confirm_label') | trans }}
                    </p>

                    <div>
                        <button {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}>
                            {{ action.getOption('yes_label') | trans }}
                        </button>
                        <button
                            {{ stimulus_action('whatwedo/core-bundle/dropdown', 'close') }}
                            class="ml-3 inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
                            type="button"
                        >
                            {{ action.getOption('no_label') | trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}


{% block modal_action %}
    {# @var action \whatwedo\CrudBundle\Action\Action #}
    <span {{ stimulus_controller('whatwedo/core-bundle/modal-form', { formUrl: path(action.option('route'), action.option('route_parameters')) }) }} class="float-end mb-3">
        <button type="button"
                class="whatwedo-crud-button--action" {{ stimulus_action('whatwedo/core-bundle/modal-form', 'openModal') }}>
            {{ action.option('label')|trans }}
        </button>

        <div
                {{ stimulus_target('whatwedo/core-bundle/modal-form', 'menu') }}
                class="hidden fixed z-10 duration-300 ease-in-out transform inset-0 overflow-y-auto"
                data-transition-enter-from="opacity-0"
                data-transition-enter-to="opacity-100"
                data-transition-leave-from="opacity-100"
                data-transition-leave-to="opacity-0"
                role="dialog"
                aria-modal="true"
        >
            <div class="flex min-h-screen text-center md:block md:px-2 lg:px-4" style="font-size: 0;">
                <div class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity md:block"></div>

                {# This element is to trick the browser into centering the modal contents. #}
                <span class="hidden md:inline-block md:align-middle md:h-screen" aria-hidden="true">&#8203;</span>

                <div class="flex text-base text-left transform transition w-full md:inline-block md:px-4 md:my-8 md:align-middle">
                    <div class="w-full relative flex items-center bg-white px-4 pt-14 pb-8 overflow-hidden shadow-2xl sm:px-6 sm:pt-8 md:p-6 lg:p-8">
                        <button type="button"
                                class="absolute top-4 right-4 text-gray-400 hover:text-gray-500 sm:top-8 sm:right-6 md:top-6 md:right-6 lg:top-8 lg:right-8 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary rounded transition-colors" {{ stimulus_action('whatwedo/core-bundle/modal-form', 'close') }}>
                            <span class="sr-only">Close</span>
                            {{ bootstrap_icon('x', { class: 'inline w-8 h-8' }) }}
                        </button>

                        <div class="w-full" {{ stimulus_target('whatwedo/core-bundle/modal-form', 'modalBody') }}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>
{% endblock %}
