{% extends "@KnpMenu/menu.html.twig" %}

{% block list %}
    {% set attributes = item.attributes|merge({
        class: (attributes.class|default('')~' space-y-0.5')|trim
    }) %}

    {# output #}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        <nav{{ knp_menu.attributes(attributes) }} {{ stimulus_controller('whatwedo/crud-bundle/navigation') }}>

            {# add title #}
            {% if item.name and not item.parent %}
                {% set classes = 'bg-white text-neutral-900 hover:bg-neutral-100 active:bg-neutral-200 group w-full flex items-center px-3 py-2.5 text-base font-semibold cursor-pointer transition-colors' %}

                {% if matcher.isCurrent(item) %}
                    {% set classes = classes|replace({'bg-white': 'bg-neutral-200'}) %}
                {% endif %}

                <h3
                    class="{{ classes }}"
                    {{ stimulus_action('whatwedo/crud-bundle/navigation', 'toggle', 'click') }}
                >
                    {{ bootstrap_icon('gear-fill', { 'class': 'text-neutral-600 mr-3 h-4 w-4' }) }}

                    {{ item.name|trans }}

                    {% set classes = 'text-neutral-300 ml-auto h-3 w-3 transform group-hover:text-neutral-400 rotate-0 transition-colors ease-in-out duration-150' %}

                    {% if matcher.isAncestor(item, options.matchingDepth) %}
                        {% set classes = classes|replace({
                            'rotate-0': 'rotate-90'
                        }) %}
                    {% endif %}
                    <svg
                        {{ stimulus_target('whatwedo/crud-bundle/navigation', 'arrow') }}
                        class="flex-shrink-0 h-3 w-3 text-neutral-600 {{ classes }}"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 8.836 14.036"
                    >
                        <path id="arrow-right" d="M27.65,1.333a.718.718,0,0,1,0-1.1.97.97,0,0,1,1.251,0l7.067,6.238a.717.717,0,0,1,0,1.1L28.9,13.808a.97.97,0,0,1-1.251,0,.718.718,0,0,1,0-1.1l6.487-5.685Z" transform="translate(-27.391)" fill="#4b5563" fill-rule="evenodd"/>
                    </svg>
                </h3>
            {% endif %}

            {% set classes = '' %}
            {% if not matcher.isAncestor(item, options.matchingDepth) %}
                {% set classes = 'hidden ' ~ classes %}
            {% endif %}
            <div
                class="{{ classes }}"
                {{ stimulus_target('whatwedo/crud-bundle/navigation', 'navigation') }}
            >
                {{ block('children') }}
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {% import _self as knp_menu %}

        {# classes for link/button item #}
        {% set classes = 'bg-white text-neutral-900 hover:bg-neutral-100 active:bg-neutral-200 group w-full flex items-center px-3 py-2.5 text-base font-semibold transition-colors' %}

        {% if matcher.isCurrent(item) %}
            {% set classes = classes|replace({'bg-white': 'bg-neutral-200'}) %}
        {% endif %}

        {% set attributes = item.attributes|merge({
            href: item.uri,
            class: (item.attributes.class|default('') ~ ' ' ~ classes)|trim,
        }) %}

        {# output #}
        <div class="space-y-0.5">
            {% apply spaceless %}
                <a{{ knp_menu.attributes(attributes) }}>
                    {% set classes = 'text-neutral-600 mr-3 h-3 w-4' %}
                    {% if matcher.isCurrent(item) or matcher.isAncestor(item, options.matchingDepth) %}
                        {{ bootstrap_icon('circle-fill', { 'class': classes }) }}
                    {% else %}
                        {{ bootstrap_icon('circle', { 'class': classes }) }}
                    {% endif %}

                    {{ item.label|trans }}
                </a>
            {% endapply %}

            {# print children #}
            {% if item.children|length > 0 %}
                {{ block('list') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
