{% extends "@KnpMenu/menu.html.twig" %}

{% block list %}
    {% set attributes = item.attributes %}
    {% set htmlElement = 'div' %}

    {% if not item.parent %}
        {# root element attributes #}
        {% set attributes = attributes|merge({
            class: (attributes.class|default('')~' flex-1 px-2 space-y-1')|trim
        }) %}
        {% set htmlElement = 'nav' %}
    {% else %}
        {# sub nav attributes #}
        {% set classes = ' space-y-1' %}
        {% if not matcher.isAncestor(item, options.matchingDepth) %}
            {% set classes = 'hidden '~classes %}
        {% endif %}

        {% set attributes = attributes|merge({
            class: (attributes.class|default('')~classes)|trim,
            'data-whatwedo--crud-bundle--navigation-target': 'navigation',
        }) %}
    {% endif %}

    {# output #}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        <{{ htmlElement }}{{ knp_menu.attributes(attributes) }}>
            {{ block('children') }}
        </{{ htmlElement }}>
    {% endif %}
{% endblock %}


{% block item %}
    {% if item.displayed %}
        {% import _self as knp_menu %}

        {# classes for link/button item #}
        {% set classes = 'group w-full flex items-center pl-11 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50' %}
        {% if item.parent.parent is null %}
            {# if its not a root element #}
            {% set classes = 'text-gray-600 hover:bg-gray-50 hover:text-gray-900 group w-full flex items-center pl-2 pr-1 py-2 text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500' %}
        {% endif %}

        {% if matcher.isCurrent(item) or matcher.isAncestor(item, options.matchingDepth) %}
            {% set classes = classes|replace({'text-gray-600': 'text-gray-900'}) %}
        {% endif %}

        {% set attributes = item.attributes|merge({
            class: (item.attributes.class|default('')~' '~classes)|trim,
        }) %}

        {# add attributes for link/button #}
        {%- if item.uri is empty %}
            {% set htmlElement = 'button' %}
            {% set attributes = attributes|merge({
                'data-action': 'whatwedo--crud-bundle--navigation#toggle',
                type: 'button',
            }) %}
        {%- else %}
            {% set htmlElement = 'a' %}
            {% set attributes = attributes|merge({
                href: item.uri,
            }) %}
        {% endif %}

        {# extract icon #}
        {% set icon = attributes.icon|default(false) %}
        {% set attributes = attributes|filter((v, k) => k != 'icon') %}

        {# create container #}
        {% set containerAttributes = [] %}
        {% if item.children|length > 0 %}
            {% set containerAttributes = containerAttributes|merge({
                class: 'space-y-1',
                'data-controller': 'whatwedo--crud-bundle--navigation'
            }) %}
        {% endif %}

        {# output #}
        <div{{ knp_menu.attributes(containerAttributes) }}>
            {% apply spaceless %}
                <{{ htmlElement }}{{ knp_menu.attributes(attributes) }}>
                    {% if icon %}
                        {% set classes = 'text-gray-600 group-hover:text-gray-900 mr-3 h-6 w-6' %}
                        {% if matcher.isCurrent(item) or matcher.isAncestor(item, options.matchingDepth) %}
                            {% set classes = classes|replace({
                                'text-gray-600': 'text-gray-900'
                            }) %}
                        {% endif %}
                        {{ bootstrap_icon(icon, { 'class': classes }) }}
                    {% endif %}

                    {{ item.label }}

                    {# if there are children: add caret icon #}
                    {% if item.children|length > 0 %}
                        {{ bootstrap_icon('caret-right-fill', {
                            'data-whatwedo--crud-bundle--navigation-target': 'arrow',
                            'class': 'text-gray-300 ml-auto h-3 w-3 transform group-hover:text-gray-400 transition-colors ease-in-out duration-150'
                        }) }}
                    {% endif %}
                </{{ htmlElement }}>
            {% endapply %}

            {# print children #}
            {% if item.children|length > 0 %}
                {{ block('list') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
