{% import "@whatwedoCrud/Crud/_macros.html.twig" as macros %}

{{ form_start(form, {
    'attr': {
        'class': 'default-crud-form'
    }
}) }}

{% if form.vars.errors|length > 0 %}
    <div class="alert alert-error alert-dismissible">
        <i class="icon fa fa-ban"></i>
        {{ form_errors(form) }}
    </div>
{% endif %}

{% set keyArr =  helper.blocks|keys %}
{% set i = 0 %}
{% set isOpen = false %}
{% for block in helper.blocks if block.isVisibleOnEdit and is_granted(block.editVoterAttribute, helper.data) %}

    {% set hasVisibleContent = false %}
    {% for key, content in block.contents if content.isVisibleOnEdit %}
        {% set hasVisibleContent = true %}
    {% endfor %}

    {% if hasVisibleContent %}

    {# Zeile #}
    {% set i = i + 1 %}
    {% if i == 1 %}
        {% set isOpen = true %}
        <div class="row">
    {% endif %}

    {% if block.attr.class is not defined %}
        {% set blockAttr = block.attr|merge({ class: '' }) %}
    {% else %}
        {% set blockAttr = block.attr %}
    {% endif %}

    {% if block.size == 'small' %}
        {% set blockAttr = blockAttr|merge({
            class: 'col-lg-6 box_edit box_' ~ block.acronym ~ ' ' ~ blockAttr.class
        }) %}
    {% else %}
        {% set blockAttr = blockAttr|merge({
            class: 'col-lg-12 box_edit box_' ~ block.acronym ~ ' ' ~ blockAttr.class
        }) %}
    {% endif %}
            <div {{ macros.attributes(blockAttr) }}>
                <div class="box box-primary">
                    {% if block.label %}
                        {{ macros.blockHeader(block.label) }}
                    {% endif %}

                    <div class="box-body">
                        {% for key, content in block.contents if content.isVisibleOnEdit and is_granted(content.editVoterAttribute, helper.data) %}

                            {% if content.attr.class is not defined %}
                                {% set contentAttr = content.attr|merge({
                                    class: 'content_edit content_' ~ block.acronym
                                }) %}
                            {% else %}
                                {% set contentAttr = content.attr|merge({
                                    class: 'content_edit content_' ~ block.acronym ~ ' ' ~ content.attr.class
                                }) %}
                            {% endif %}

                            <div {{ macros.attributes(contentAttr) }}>
                                {% if attribute(form, content.acronym) is defined %}
                                    <div class="form-group{% if attribute(form, content.acronym).vars.errors|length %} has-error{% endif %} form-group__{{ content.acronym }}">
                                        {% if content.label %}
                                            <label for="{{ attribute(form, content.acronym).vars.id }}">
                                                {% if attribute(form, content.acronym).vars.errors|length %}
                                                    <i class="fa fa-times-circle-o"></i>
                                                {% endif %}
                                                {{ content.label }}:
                                                {% for attrname, attrvalue in attribute(form, content.acronym).vars.attr %}
                                                    {% if attrname == 'help' %}
                                                        &nbsp;<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{ attrvalue }}"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </label>
                                        {% endif %}
                                        {{ form_widget(attribute(form, content.acronym)) }}
                                        {% if content.autoFill is not null %}
                                            {% for autoFill in content.autoFill %}
                                                <div class="hidden auto-fill">
                                                    <ul data-set-to="{{ autoFill.apply_to }}" data-listen-on="{{ attribute(form, content.acronym).vars.id }}">
                                                        {% for choice in attribute(form, content.acronym).vars.choices %}
                                                            {% set value2 = attribute(choice.data, autoFill.property) %}
                                                            {% if autoFill['transform'] is defined %}
                                                                <li data-value="{{ choice.value }}" data-value2="{{ whatwedo_crud_callable(autoFill['transform'], value2) }}"></li>
                                                            {% else %}
                                                                <li data-value="{{ choice.value }}" data-value2="{{ value2 }}"></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        {% if attribute(form, content.acronym).vars.errors|length %}
                                            <div class="help-block">
                                                {{ form_errors(attribute(form, content.acronym)) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if content.isTable is defined and content.isTable %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <strong>{{ content.label }}:</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ content.renderTable(key, helper.data)|raw }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if content.isTwigContent is defined and content.isTwigContent %}
                                    {% include content.template with content.parameters  %}
                                {% endif %}
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
    {# / Zeile #}
    {% if i == 2 or block.size == "large" %}
        {% set i = 0 %}
        </div>
    {% elseif keyArr[loop.index] is defined and helper.blocks[keyArr[loop.index]] is defined %}
        {% if helper.blocks[keyArr[loop.index]].size == "large" %}
            {% set i = 0 %}
            </div>
            {% set isOpen = false %}
        {% endif %}
    {% endif %}

    {% endif %}
{% endfor %}

{% if i > 0 %}
    </div>
{% endif %}

<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    Speichern
                </h3>
            </div>

            <div class="box-body text-center">
                <button type="submit" class="btn btn-warning whatwedo-save">
                    <i class="fa fa-floppy-o"></i>
                    Speichern
                </button>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}

{% if helper.hasCapability('ajax') %}
    <script type="text/javascript">
        var whatwedo_ajax_listen = {{ helper.getAjaxListen(true) | raw }};
        var whatwedo_ajax_no_listen = {{ helper.getAjaxListen(false) | raw }};
        var whatwedo_ajax_callback = '{{ helper.path('ajax') }}';
    </script>
{% endif %}
