{{ form_start(form, {
    'attr': {
        'class': 'default-crud-form'
    }
}) }}

{% if form.vars.errors|length > 0 %}
    <div class="alert alert-error alert-dismissible">
        <i class="icon fa fa-ban"></i>
        {{ form_errors(form) }}
    </div>
{% endif %}

{% set i = 0 %}
{% set isOpen = false %}
{% for block in helper.blocks %}

    {# Zeile #}
    {% set i = i + 1 %}
    {% if i == 1 %}
        {% set isOpen = true %}
        <div class="row">
    {% endif %}
            <div class="col-lg-{% if block.size == 'small' %}6{% else %}12{% endif %} box__{{ block.acronym }}">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            {{ block.label}}
                        </h3>
                    </div>

                    <div class="box-body">
                        {% for content in block.contents %}
                            {% if attribute(form, content.acronym) is defined %}
                                <div class="form-group{% if attribute(form, content.acronym).vars.errors|length %} has-error{% endif %} form-group__{{ content.acronym }}">
                                    {% if content.label %}
                                        <label for="{{ attribute(form, content.acronym).vars.id }}">
                                            {% if attribute(form, content.acronym).vars.errors|length %}
                                                <i class="fa fa-times-circle-o"></i>
                                            {% endif %}
                                            {{ content.label }}:
                                        </label>
                                    {% endif %}
                                    {{ form_widget(attribute(form, content.acronym)) }}
                                    {% for attrname, attrvalue in attribute(form, content.acronym).vars.attr %}
                                        {% if attrname == 'help' %}
                                            <span class="help-block">{{ attrvalue }}</span>
                                        {% endif %}
                                    {% endfor %}
                                    {% if content.autoFill is not null %}
                                        {% for autoFill in content.autoFill %}
                                            <div class="hidden auto-fill">
                                                <ul data-set-to="{{ autoFill.apply_to }}" data-listen-on="{{ attribute(form, content.acronym).vars.id }}">
                                                    {% for choice in attribute(form, content.acronym).vars.choices %}
                                                        {% set value2 = attribute(choice.data, autoFill.property) %}
                                                        {% if autoFill['transform'] is defined %}
                                                            <li data-value="{{ choice.value }}" data-value2="{{ whatwedo_crud_callable(autoFill['transform'], value2) }}"></li>
                                                        {% else %}
                                                            <li data-value="{{ choice.value }}" data-value2="{{ value2 }}"></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    {% if attribute(form, content.acronym).vars.errors|length %}
                                        <div class="help-block">
                                            {{ form_errors(attribute(form, content.acronym)) }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if content.isTable is defined and content.isTable and content.showInEdit %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <strong>{{ content.label }}:</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ content.renderTable(whatwedo_table(), helper.data)|raw }}
                                    </div>
                                </div>
                                {% if content.createRoute is defined and content.createRoute and helper.allowEdit(helper.data) %}
                                    <div class="row">
                                        <div class="col-lg-12 text-right">
                                            <a href="{{ path(content.createRoute, content.createRouteParameters(helper.data)) }}" class="btn btn-success btn-xs">
                                                <i class="fa fa-plus"></i>
                                                Hinzufügen
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if content.isTwigContent is defined and content.isTwigContent %}
                                {% if content.showOn('edit') %}
                                    {% include content.template with content.parameters  %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


    {# / Zeile #}
    {% if i == 2 %}
        {% set i = 0 %}
        </div>
        {% set isOpen = false %}
    {% endif %}
{% endfor %}

    {% if isOpen %}
        </div>
    {% endif %}

<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    Speichern
                </h3>
            </div>

            <div class="box-body text-center">
                <button type="submit" class="btn btn-warning whatwedo-save">
                    <i class="fa fa-floppy-o"></i>
                    Speichern
                </button>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}

{% if helper.hasCapability('ajax') %}
    <script type="text/javascript">
        var whatwedo_ajax_listen = {{ helper.getAjaxListen(true) | raw }};
        var whatwedo_ajax_no_listen = {{ helper.getAjaxListen(false) | raw }};
        var whatwedo_ajax_callback = '{{ helper.path('ajax') }}';
    </script>
{% endif %}
