{% import "whatwedoCrudBundle:Crud:_macros.html.twig" as macros %}

{% set i = 0 %}
{% for block in helper.blocks if block.isVisibleOnShow %}

    {# Zeile #}
    {% set i = i + 1 %}
    {% if i == 1 %}
        <div class="row">
    {% endif %}

    {% if block.attr.class is not defined %}
        {% set blockAttr = block.attr|merge({ class: '' }) %}
    {% else %}
        {% set blockAttr = block.attr %}
    {% endif %}

    {% if block.size == 'small' %}
        {% set blockAttr = blockAttr|merge({
            class: 'col-lg-6 box_show box_' ~ block.acronym ~ ' ' ~ blockAttr.class
        }) %}
    {% else %}
        {% set blockAttr = blockAttr|merge({
            class: 'col-lg-12 box_show box_' ~ block.acronym ~ ' ' ~ blockAttr.class
        }) %}
    {% endif %}
            <div {{ macros.attributes(blockAttr) }}>
                <div class="box box-primary">
                    {% if block.label %}
                        {{ macros.blockHeader(block.label) }}
                    {% endif %}

                    <div class="box-body">
                        {% for key, content in block.contents if content.isVisibleOnShow %}

                            {% if content.attr.class is not defined %}
                                {% set contentAttr = content.attr|merge({
                                    class: 'content_show content_' ~ block.acronym
                                }) %}
                            {% else %}
                                {% set contentAttr = content.attr|merge({
                                    class: 'content_show content_' ~ block.acronym ~ ' ' ~ content.attr.class
                                }) %}
                            {% endif %}

                            <div {{ macros.attributes(contentAttr) }}>
                                {% if content.isTable is defined and content.isTable %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <strong>{{ content.label }}{% if content.label is not empty %}:{% endif %}</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ content.renderTable(key, helper.data)|raw }}
                                        </div>
                                    </div>
                                    {% if content.createRoute is defined and content.createRoute %}
                                    <div class="row">
                                        <div class="col-lg-12 text-right">
                                            {% if content.indexRoute %}
                                            <a href="{{ path(content.indexRoute, content.createRouteParameters(data)) }}" class="btn btn-primary btn-xs">
                                                <i class="fa fa-list"></i>
                                                Alle ansehen
                                            </a>
                                            {% endif %}
                                            {% if content.createRoute and content.allowCreate(helper.data) %}
                                            <a href="{{ path(content.createRoute, content.createRouteParameters(data)) }}" class="btn btn-success btn-xs">
                                                <i class="fa fa-plus"></i>
                                                Hinzufügen
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                {% elseif content.isTwigContent is defined and content.isTwigContent %}
                                    {% include content.template with content.parameters  %}
                                {% else %}
                                    {% set value = content.render(data) %}

                                    {% if value is iterable %}
                                        {% for key, v in value %}
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <strong>{{ key }}:</strong>
                                                </div>
                                                <div class="col-lg-8">
                                                    {{ helper.linkIt(v, content)|raw }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <strong>{{ content.label }}{% if content.label is not empty %}:{% endif %}
                                                    {% if content.help is not empty %}&nbsp;<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{ content.help }}"></i>{% endif %}
                                                </strong>
                                            </div>
                                            <div class="col-lg-8">
                                                {{ helper.linkIt(value, content)|raw }}
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endif %}
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>


    {% if i == 2 %}
        {% set i = 0 %}
        </div>
    {% endif %}

{% endfor %}

{% if i > 0 %}
</div>
{% endif %}
