<!-- This example requires Tailwind CSS v2.0+ -->
<div
    data-whatwedo--crud-bundle--filter-target="filters"
    class="fixed inset-0 overflow-hidden z-10 hidden"
    aria-labelledby="slide-over-title"
    role="dialog"
    aria-modal="true">
    <div class="absolute inset-0 overflow-hidden" data-whatwedo--crud-bundle--filter-target="filtersOverlay">
        <!--
          Background overlay, show/hide based on slide-over state.

          Entering: "ease-in-out duration-500"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in-out duration-500"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div data-action="click->whatwedo--crud-bundle--filter#close" class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <div class="fixed inset-y-0 right-0 pl-10 max-w-full flex" data-whatwedo--crud-bundle--filter-target="filtersPanel">
            <!--
              Slide-over panel, show/hide based on slide-over state.

              Entering: "transform transition ease-in-out duration-500 sm:duration-700"
                From: "translate-x-full"
                To: "translate-x-0"
              Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
                From: "translate-x-0"
                To: "translate-x-full"
            -->
            <div class="w-screen max-w-3xl">
                <div class="h-full flex flex-col py-6 bg-gray-100 shadow-xl overflow-y-scroll">
                    <div class="px-4 sm:px-6">
                        <div class="flex items-start justify-between">
                            <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
                                Filter
                            </h2>

                            <div class="ml-3 h-7 flex items-center">
                                <button
                                    class="rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                    data-action="click->whatwedo--crud-bundle--filter#close"
                                >
                                    <span class="sr-only">Close panel</span>
                                    {{ bootstrap_icon('x', { class: 'h-6 w-6' }) }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 relative flex-1">
                        <div class="px-4 sm:px-6" data-whatwedo--crud-bundle--filter-target="filterGroupList">
                            {% for i in 1..1 %}
                            <div data-whatwedo--crud-bundle--filter-target="filterGroup">
                                <span
                                    data-whatwedo--crud-bundle--filter-target="filterGroupFilterHeaderFirst"
                                    class="text-gray-500 uppercase text-sm font-medium mt-4 block {% if not loop.first %}hidden{% endif %}"
                                >
                                    Zeige Elemente wenn
                                </span>
                                <span
                                    data-whatwedo--crud-bundle--filter-target="filterGroupFilterHeaderOthers"
                                    class="text-gray-500 uppercase text-sm font-medium mt-4 block {% if loop.first %}hidden{% endif %}"
                                >
                                    oder
                                </span>
                                <div
                                    data-whatwedo--crud-bundle--filter-target="filterGroupFilterList"
                                    class="mt-1 p-4 bg-white relative rounded-md shadow-sm">
                                    {% for i in 1..1 %}
                                        <!-- Filter AND -->
                                        <div class="flex" data-whatwedo--crud-bundle--filter-target="singleFilter">
                                            <div class="flex-auto w-1/5">
                                                <select name="bla" class="w-full border-0 text-sm">
                                                    <option>Test</option>
                                                    <option>Test</option>
                                                    <option>Test</option>
                                                </select>
                                            </div>
                                            <div class="flex-auto w-1/5">
                                                <select name="bla" class="w-full border-0 text-sm">
                                                    <option>ist gleich</option>
                                                </select>
                                            </div>
                                            <div class="flex-auto w-3/5">
                                                <input type="text" class="w-full border-0 border-b-2 text-sm">
                                            </div>
                                            <div class="flex-auto text-right pt-1 items-center w-1/5">
                                                <div class="flex justify-end">
                                                    <button
                                                        data-action="click->whatwedo--crud-bundle--filter#appendAnd"
                                                        data-whatwedo--crud-bundle--filter-target="singleFilterAnd"
                                                        class="{% if not loop.last %}hidden{% endif %} flex-none px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                                    >
                                                        und
                                                    </button>
                                                    <button
                                                        data-action="click->whatwedo--crud-bundle--filter#removeAnd"
                                                        data-whatwedo--crud-bundle--filter-target="singleFilterRemove"
                                                        class="flex-none px-2.5 py-2 text-gray-400 hover:text-gray-600 focus:outline-none"
                                                    >
                                                        {{ bootstrap_icon('trash') }}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Filter Mutations -->
                        <div class="mt-4 px-4 pb-4 sm:px-6 flex">
                            <div class="flex-auto">
                                <button
                                    data-action="click->whatwedo--crud-bundle--filter#appendOr"
                                    class="px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                >
                                    oder
                                </button>
                            </div>
                            <div>
                                <!-- This example requires Tailwind CSS v2.0+ -->
                                <div class="relative inline-block text-left" {{ stimulus_controller('whatwedo/crud-bundle/dropdown') }}>
                                    <div>
                                        <button
                                            data-action="click->whatwedo--crud-bundle--dropdown#toggle"
                                            type="button"
                                            class="inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-2.5 py-1.5 bg-white text-xs font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true"
                                        >
                                            Gespeicherte Filter
                                            {{ bootstrap_icon('chevron-down', { class: '-mr-1 ml-2 h-4 w-4' }) }}
                                        </button>
                                    </div>

                                    <!--
                                      Dropdown menu, show/hide based on menu state.

                                      Entering: "transition ease-out duration-100"
                                        From: "transform opacity-0 scale-95"
                                        To: "transform opacity-100 scale-100"
                                      Leaving: "transition ease-in duration-75"
                                        From: "transform opacity-100 scale-100"
                                        To: "transform opacity-0 scale-95"
                                    -->
                                    <div
                                        data-whatwedo--crud-bundle--dropdown-target="dropdown"
                                        class="hidden z-20 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"
                                    >
                                        <div class="py-1" role="none">
                                            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Lorem ipsum dolor</a>
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Lorem ipsum dolor</a>
                                            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Lorem ipsum dolor</a>
                                        </div>
                                        <div class="py-1" role="none">
                                            <form method="POST" action="#" role="none">
                                                <button type="submit" class="text-gray-700 block w-full text-left px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">
                                                    {{ bootstrap_icon('plus', { class: 'inline-block w-5 h-5' }) }}
                                                    Neu erstellen
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-auto text-right">
                                <button class="px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    Zurücksetzen
                                </button>
                                <button class="px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    Filter anwenden
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
