<!doctype html>
<html class="h-full bg-neutral-100" lang="{{ app.request.locale }}">
<head>
    {% block header %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}{{ title|default('')|trans }}{% endblock %}</title>

        {% block favicons %}{% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('admin', null, 'admin') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin', null, 'admin') }}
        {% endblock %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %} h-full" data-turbo="false">
{% block content %}
    <div {{ stimulus_controller({'whatwedo/crud-bundle/offcanvas': {}}) }}>

        {# Off-canvas menu for mobile #}
        <div class="relative z-40 md:hidden" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-neutral-600 bg-opacity-75 transition-opacity ease-linear duration-300 pointer-events-none opacity-0" {{ stimulus_target('whatwedo/crud-bundle/offcanvas', 'backdrop') }}></div>{# opacity-0 pointer-events-none #}

            <div class="fixed inset-0 flex z-40 pointer-events-none">
                <div
                    class="whatwedo_crud-sidebar relative flex-1 flex flex-col max-w-xs w-full bg-white transition ease-in-out duration-300 transform -translate-x-full pointer-events-auto"
                    {{ stimulus_target('whatwedo/crud-bundle/offcanvas', 'content') }}
                >
                    <div class="absolute top-0 right-0 -mr-12 pt-2 ease-in-out duration-300 opacity-0 pointer-events-none" {{ stimulus_target('whatwedo/crud-bundle/offcanvas', 'closeButton') }}>
                        <button
                            type="button"
                            class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                            {{ stimulus_action('whatwedo/crud-bundle/offcanvas', 'hideContent') }}
                        >
                            <span class="sr-only">Close sidebar</span>
                            <!-- Heroicon name: outline/x -->
                            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>

                    <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
                        <div class="flex-shrink-0 flex items-center px-4">
                            {% block logo %}
                                <a href="{{ path('dashboard') }}">
                                    <img class="h-6 w-auto" src="https://static.whatwedo.io/whatwedo-logo.svg" alt="whatwedo">
                                </a>
                            {% endblock %}
                        </div>

                        {% block navigation %}
                            <div class="whatwedo_crud-navigation mt-5 flex-grow flex flex-col">
                                {{ knp_menu_render('main', { 'template': '@whatwedoCrud/extensions/knp_menu_main.html.twig' }) }}
                            </div>
                        {% endblock %}
                    </div>

                    {% block sidebar_service %}
                        {% block sidebar_nav %}
                            {{ knp_menu_render('sub', { 'template': '@whatwedoCrud/extensions/knp_menu_sub.html.twig' }) }}
                        {% endblock %}

                        {#
                        {% block sidebar-search %}
                            <label for="search" class="sr-only">Search</label>
                            <div class="relative rounded-md shadow-sm w-full z-0">
                                <form action="#" method="get">
                                    <input
                                        class="whatwedo_core-input"
                                        name="query"
                                        value=""
                                        autocomplete="off"
                                        placeholder="Suche ..."
                                        type="text"
                                    >
                                </form>
                            </div>
                        {% endblock %}
                        #}

                        {% block sidebar_footer %}
                            {% include "@whatwedoCrud/includes/sidebar/_footer.html.twig" %}
                        {% endblock %}

                    {% endblock %}
                </div>

                <div class="flex-shrink-0 w-14"></div>
            </div>
        </div>

        <div class="whatwedo_crud-sidebar hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
            <div class="flex-1 flex flex-col min-h-0 border-r border-neutral-200 bg-white overflow-y-auto">
                <div class="flex-1 flex flex-col pt-5 pb-4">
                    <div class="flex items-center flex-shrink-0 px-4">
                        {{ block('logo') }}
                    </div>

                    {{ block('navigation') }}
                </div>
                {{ block('sidebar_service') }}
            </div>
        </div>

        <div class="md:pl-64 flex flex-col flex-1">
            <div class="sticky top-0 z-10 md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3 bg-neutral-100">
                <button {{ stimulus_action('whatwedo/crud-bundle/offcanvas', 'showContent') }} type="button" class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-neutral-500 hover:text-neutral-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary-500">
                    <span class="sr-only">Open sidebar</span>
                    <!-- Heroicon name: outline/menu -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>

            <main
                class="whatwedo_crud-wrapper flex flex-col flex-1"
                {{ stimulus_controller({'whatwedo/table-bundle/filter': {}, 'whatwedo/table-bundle/table': {}}) }}
            >
                {% block topbar %}
                    <nav class="whatwedo_crud-topbar z-30 sticky top-[50px] md:top-0 flex-grow-0 bg-white flex-auto border-b border-neutral-200 px-4 py-4 min-h-[71px] sm:flex sm:justify-between">
                        {% block breadcrumbs %}
                            {% include "@whatwedoCrud/includes/topbar/_breadcrumbs.html.twig" %}
                        {% endblock %}

                        {% block actions %}
                            {% include "@whatwedoCrud/includes/topbar/_actions.html.twig" %}
                        {% endblock %}
                    </nav>
                {% endblock %}

                {% block messages %}
                    {% include "@whatwedoCrud/includes/main/_messages.html.twig" %}
                {% endblock %}

                <div class="whatwedo_crud-maincontent m-4">
                    {% block main %}
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>

{% endblock %}
</body>
</html>
