{% extends 'base.html.twig' %}

{% block title %}Dashboard {{ parent() }}{% endblock %}

{% block topbar %}
{% endblock %}

{% block main %}
    <div class="-m-4">
        <div class="bg-neutral-900 text-neutral-200 p-4 md:hidden">
            <button {{ stimulus_action('whatwedo/crud-bundle/offcanvas', 'showContent') }} type="button" class="inline-flex items-center justify-center rounded-md text-neutral-500 hover:text-neutral-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary-500">
                <span class="sr-only">Open sidebar</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 39.632 39.632">
                    <g id="Group_520" data-name="Group 520" transform="translate(-18.184 -67.5)">
                        <path id="Path_66" data-name="Path 66" d="M19.816,0A19.816,19.816,0,1,1,0,19.816,19.816,19.816,0,0,1,19.816,0Z" transform="translate(18.184 67.5)" class="fill-white" />
                        <line id="Line_57" data-name="Line 57" x2="19" transform="translate(28.5 82.316)" class="stroke-neutral-900" fill="none" stroke-linecap="round" stroke-width="2"/>
                        <line id="Line_58" data-name="Line 58" x2="15" transform="translate(28.5 87.316)" class="stroke-neutral-900" fill="none" stroke-linecap="round" stroke-width="2"/>
                        <line id="Line_59" data-name="Line 59" x2="19" transform="translate(28.5 92.316)" class="stroke-neutral-900" fill="none" stroke-linecap="round" stroke-width="2"/>
                    </g>
                </svg>
            </button>
        </div>

        <div class="bg-neutral-900 text-neutral-200 p-4 md:p-8 !pb-24 !pt-16">
            <h2 class="whatwedo-utility-heading-2 text-neutral-400 mb-1">{{ 'whatwedo_crud.dashboard' | trans }}</h2>
            <h1 class="whatwedo-utility-heading-1 text-neutral-100 mb-0">{{ 'whatwedo_crud.hello' | trans }} {{ (username|default(''))|capitalize }} 👋</h1>
        </div>

        <div class="m-4 md:m-8 !-mt-12 grid grid-cols-1 gap-4 overflow-hidden sm:grid-cols-2 lg:grid-cols-4">
            {% for card in cards|default([]) %}
                {{ include('@whatwedoCrud/dashboard/cards.html.twig', card) }}
            {% endfor %}
        </div>

        <div class="m-4 md:m-8 p-4 bg-white drop-shadow-sm">
            <p class="whatwedo-utility-paragraph mb-0">
                {% block dashboard_paragraph %}
                {% endblock %}
            </p>
        </div>

    </div>
{% endblock %}
