{% use 'tailwind_2_layout.html.twig' %}

{#
    {% set row_class = row_class|default('mt-2 px-3 ...') %}
    {% set label_class = label_class|default('font-semibold text-neutral-600 ...') %}
    {% set error_item_class = error_item_class|default('text-red-700 ...') %}
    {% set widget_class = widget_class|default('border border-neutral-300 bg-neutral-100 ...') %}
    {% set widget_disabled_class = widget_disabled_class|default('border-dashed text-neutral-200 ...') %}
    {% set widget_errors_class = widget_errors_class|default('border-double border-red-500 bg-red-50 ...') %}
#}
{% block widget_attributes %}
    {% set widget_class = widget_class|default('block w-full shadow-sm whatwedo_core-input') %}
    {% set widget_errors_class = widget_errors_class|default('whatwedo-utility-input--error') %}
    {{ parent() }}
{% endblock widget_attributes %}

{%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('mr-2 focus:ring-primary-500 h-4 w-4 text-primary-500 border-neutral-300 rounded') -%}
    {{- parent() -}}
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {%- set widget_class = widget_class|default('mr-2 focus:ring-primary-500 h-4 w-4 text-primary-500 border-neutral-300') -%}
    {{- parent() -}}
{%- endblock radio_widget -%}

{% block attributes %}
    {% if type is defined %}
        {%  if type is same as('datetime-local') or type is same as('date') or type is same as('time') %}
            {{ stimulus_controller('whatwedo/core-bundle/datetime', {lang: app.request.locale}) }}
        {% endif %}
    {% endif %}

    {% if choices is defined %}
        {{ stimulus_controller('whatwedo/core-bundle/select') }}
    {% endif %}

    {{ parent() }}
{% endblock attributes %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="mb-2 mt-2 whatwedo-utility-paragraph--error py-3 relative">{{ error.message|trans }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_label -%}
    {% set label_class = label_class|default('block text-neutral-800') %}
    {{- parent() -}}
{%- endblock form_label -%}

{%- block form_help -%}
    {% set help_class = help_class|default('mt-1 text-neutral-600') %}
    {{- parent() -}}
{%- endblock form_help -%}

{%- block money_widget -%}
    <div class="space-x-4 hidden sm:flex">
        <div class="w-5/6 px-4 py-2">
            {{ block('form_widget_simple') }}
        </div>
        <div class="w-1/6 px-4 py-2">
            {{ money_pattern|form_encode_currency }}
        </div>
    </div>
{%- endblock money_widget -%}

{%- block percent_widget -%}
    {%- set type = type|default('text') -%}
    <div class="space-x-4 hidden sm:flex">
        <div class="w-5/6 px-4 py-2">
            {{ block('form_widget_simple') }}
        </div>
        <div class="w-1/6 px-4 py-2">
            {% if symbol %} {{ symbol|default('%') }}{% endif %}
        </div>
    </div>
{%- endblock percent_widget -%}
