{% macro attributes(attr) %}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{% endmacro attributes %}

{% macro blockHeader(title, options) %}
    <div class="box-header">
        <h3 class="box-title">
            {{ title }}
        </h3>
        {% if options.collapsible|default(false) %}
        <div class="box-tools">
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-{{ options.collapsed|default(false) ? 'plus' : 'minus' }}"></i></button>
        </div>
        {% endif %}
    </div>
{% endmacro %}

