{% extends 'base.html.twig' %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_actions %}
    {% if is_granted('delete', view.data) %}
    <form data-confirm="delete" action="{{ view.path('delete') }}" method="post">
    {% endif %}
        <div class="btn-group pull-right btn-group-sm">
            {% block page_actions_back_to_list %}
                {% if view.hasCapability('index') %}
                    <a href="{{ view.path('index') }}" class="btn btn-default">
                        <i class="fa fa-list"></i>
                        {{ 'whatwedo_crud.index'|trans }}
                    </a>
                {% endif %}
            {% endblock %}

            <button class="btn btn-warning" data-toggle="default-crud-save">
                <i class="fa fa-floppy-o"></i>
                Speichern
            </button>
            <a href="{{ view.path('show') }}" class="btn btn-primary">
                <i class="fa fa-arrow-right"></i>
                {{ 'whatwedo_crud.view'|trans }}
            </a>
            {% if is_granted('delete', view.data) %}
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    {{ 'whatwedo_crud.delete'|trans }}
                </button>
            {% endif %}
        </div>
    {% if is_granted('delete', view.data) %}
    </form>
    {% endif %}
{% endblock %}

{% block content %}
    {{ view.renderEdit|raw }}
{% endblock %}
