{% extends '::base.html.twig' %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_actions %}
    {% if view.allowDelete(view.data) %}
        <form data-confirm="delete" action="{{ view.path('delete') }}" method="post">
    {% endif %}
        <div class="btn-group pull-right btn-group-sm">
            {% block page_actions_back_to_list %}
                {% if view.allowCreate %}
                    <a href="{{ view.path('index') }}" class="btn btn-default">
                        <i class="fa fa-list"></i>
                        Übersicht
                    </a>
                {% endif %}
            {% endblock %}
            {% block page_actions_additional %}{% endblock %}
            {% if view.allowCreate(view.data) %}
                <a href="{{ view.path('create') }}" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                    Hinzufügen
                </a>
            {% endif %}
            {% if view.allowEdit(view.data) %}
                <a href="{{ view.path('edit') }}" class="btn btn-warning">
                    <i class="fa fa-pencil"></i>
                    Bearbeiten
                </a>
            {% endif %}
            {% if view.allowDelete(view.data) %}
            <button type="submit" class="btn btn-danger" onclick="return confirm('\'{{ title }}\' wirklich löschen?')">
                <i class="fa fa-trash-o"></i>
                Löschen
            </button>
            {% endif %}
        </div>
    {% if view.allowDelete(view.data) %}
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    {{ view.renderShow|raw }}
{% endblock %}
