{% block block %}
    {# @var block \whatwedo\CrudBundle\Block\Block #}
    {# @var view \whatwedo\CrudBundle\View\DefinitionView #}
    {# @var content string #}

    {% set attr = {
        class: (block.option('size') == constant('whatwedo\\CrudBundle\\Enum\\BlockSize::LARGE') ? 'w-full' : 'w-3/6'),
    }|merge(block.option('attr')|default([])) %}
    <div id="wwd-crud-block-{{ block.acronym }}" {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}>
        <div class="bg-neutral-50 shadow sm:rounded-lg m-4">
            {% if block.option('label') or block.option('description') %}
                <div class="px-4 py-5 sm:px-6">
                    {% if block.option('label') %}
                        <h3 class="text-lg leading-6 font-medium text-neutral-900">
                            {{ block.option('label')|trans }}
                        </h3>
                    {% endif %}
                    {% if block.option('description') %}
                        <p class="mt-1 max-w-2xl text-sm text-neutral-500">
                            {{ block.option('description')|trans }}
                        </p>
                    {% endif %}
                </div>
            {% endif %}
            <div class="{% if block.option('label') or block.option('description') %}border-t border-neutral-200 bg-white sm:rounded-b-lg{% endif%}">
                <dl>
                    {% for content in block.contents(view, page) %}
                        {{ wwd_crud_render_content(content, block, view, form) }}
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
{% endblock %}


{% block block_block %}
    {% set attr = {
        class: (block.option('size') == constant('whatwedo\\CrudBundle\\Enum\\BlockSize::LARGE') ? 'w-full' : 'w-3/6') ~ ' wwd-block-block',
    }|merge(block.option('attr')|default([])) %}
    <div id="wwd-crud-block-{{ block.acronym }}" {{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}>
        <div class="bg-neutral-50 shadow sm:rounded-lg m-4">
        {% if block.option('label') or block.option('description') %}
            <div class="wwd-crud-block-header px-4 pt-5 sm:px-6">
                {% if block.option('label') %}
                    <h3 class="text-lg leading-6 font-medium text-neutral-900">
                        {{ block.option('label')|trans }}
                    </h3>
                {% endif %}
                {% if block.option('description') %}
                    <p class="mt-1 max-w-2xl text-sm text-neutral-500">
                        {{ block.option('description')|trans }}
                    </p>
                {% endif %}
            </div>
        {% endif %}
        <div class="wwd-block-block-content">
            {% for subBlock in block.blocks(view, page) %}
                {{ wwd_crud_render_block(subBlock, view, page, form ?? null) }}
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}


{% block definition_block %}
    {{ wwd_definition_block_render(block) }}
{% endblock %}
