{% block content %}
    {# @var content \whatwedo\CrudBundle\Content\Content #}
    {# @var block \whatwedo\CrudBundle\Block\Block #}
    {# @var view \whatwedo\CrudBundle\View\DefinitionView #}
    {% set isHiddenType = content.options['form_type'] in ['whatwedo\\CrudBundle\\Form\\Type\\EntityHiddenType', 'Symfony\\Component\\Form\\Extension\\Core\\Type\\HiddenType'] %}
    {% set isFormCase = form is defined %}
    {% set contentAcronym = view.definition.formAccessorPrefix ~ content.acronym %}
    <div id="wwd-crud-block-{{ block.acronym }}-content-{{ contentAcronym }}" class="{% if (not isHiddenType and isFormCase) or not isFormCase %}px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4{% endif %} {{ content.getOption('attr')['class'] is defined ? content.getOption('attr')['class'] : '' }}">
        <dt class="whatwedo-utility-bold text-neutral-500" id="wwd-crud-block-{{ block.acronym }}-content-{{ contentAcronym }}-label">
            {{ content.option('label')|trans }}
            {% if content.option('help') is not empty %}
                <span {{ stimulus_controller('whatwedo/crud-bundle/tooltip', { 'title': content.option('help')|trans } ) }}>
                    {{ bootstrap_icon('info-circle-fill', {
                        class: 'inline cursor-help',
                    }) }}
                </span>
            {% endif %}
        </dt>
        <dd class="mt-1 text-base text-neutral-900 sm:mt-0 sm:col-span-2" id="wwd-crud-block-{{ block.acronym }}-content-{{ contentAcronym }}-content">
            {% if form is defined %}
                <div
                    {% if content.options['ajax_form_trigger'] %}
                        {{ stimulus_target('whatwedo/crud-bundle/ajax-form', 'ajax') }}
                        class="wwd-ajax-div"
                    {% endif %}
                >
                    {{ form_widget(attribute(form, contentAcronym)) }}
                </div>
                {% if attribute(form, contentAcronym).vars.errors|length %}
                    <div class="help-block">
                        {{ form_errors(attribute(form, contentAcronym)) }}
                    </div>
                {% endif %}
            {% else %}
                {{ wwd_crud_render_content_value(content) }}
            {% endif %}
        </dd>
    </div>
{% endblock %}

{% block relation_content %}
    {# @var content \whatwedo\CrudBundle\Content\RelationContent #}
    {# @var block \whatwedo\CrudBundle\Block\Block #}
    {# @var view \whatwedo\CrudBundle\View\DefinitionView #}
    {% if form is defined and not content.option('show_table_in_form') %}
        {{ block('content') }}
    {% else %}
        {% if view.route == constant('whatwedo\\CrudBundle\\Enum\\Page::SHOW') %}
            <div class="inline-block w-full"
            {% set reloadUrl = content.reloadUrl(view.data) %}
            {% if reloadUrl %}
            {{ stimulus_controller('whatwedo/core-bundle/reload-content', { url: reloadUrl }) }}
            {{ stimulus_action('whatwedo/core-bundle/reload-content', 'refreshContent', 'success') }}
            {% endif %}
            >
        {% endif %}
        {% if content.option('label') %}
            <span class="block whatwedo-utility-bold text-neutral-500 mb-4">
                {{ content.option('label')|trans }}
            </span>
        {% endif %}

        {{ whatwedo_table_render(content.table(view.data)) }}

        {% set createUrl = content.createUrl(view.data) %}
        {% if createUrl and (content.addVoterAttribute is null or is_granted(content.addVoterAttribute, view.data)) %}

        <div
            class="ml-3 mb-3"
            {{ stimulus_controller('whatwedo/core-bundle/modal-form', { formUrl: createUrl }) }}
        >
            <button
                type="button"
                class="whatwedo-crud-button--action"
                {{ stimulus_action('whatwedo/core-bundle/modal-form', 'openModal') }}
            >
                {{ 'whatwedo_crud.relation.add'|trans }}
            </button>

            <div
                {{ stimulus_target('whatwedo/core-bundle/modal-form', 'menu') }}
                class="hidden whatwedo-crud-modal whatwedo-utility-modal"
                data-transition-enter-from="opacity-0"
                data-transition-enter-to="opacity-100"
                data-transition-leave-from="opacity-100"
                data-transition-leave-to="opacity-0"
                role="dialog"
                aria-modal="true"
            >
                <div class="whatwedo-crud-modal__overlay whatwedo-utility-modal__overlay">
                    <div
                        class="whatwedo-crud-modal__backdrop whatwedo-utility-modal__backdrop"
                        {{ stimulus_action('whatwedo/core-bundle/modal-form', 'close', 'click') }}
                    ></div>

                    {# This element is to trick the browser into centering the modal contents. #}
                    <span class="hidden md:inline-block md:align-middle md:h-screen" aria-hidden="true">&#8203;</span>

                    <div class="whatwedo-crud-modal__wrapper whatwedo-utility-modal__wrapper">
                        <div class="whatwedo-utility-modal__wrapper-inner">
                            <button
                                type="button"
                                class="whatwedo-crud-modal__close whatwedo-utility-modal__close"
                                {{ stimulus_action('whatwedo/core-bundle/modal-form', 'close') | stimulus_action('whatwedo/core-bundle/modal-form', 'close', 'keydown.esc@window') }}
                            >
                                <span class="sr-only">Close</span>
                                {{ bootstrap_icon('x', { class: 'inline w-8 h-8' }) }}
                            </button>

                            <div
                                class="whatwedo-crud-modal__body w-full"
                                {{ stimulus_target('whatwedo/core-bundle/modal-form', 'modalBody') }}
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% if view.route == constant('whatwedo\\CrudBundle\\Enum\\Page::SHOW') %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block enum_content %}
    {{ block('content') }}
{% endblock %}

{% block twig_content %}
    {# @var content \whatwedo\CrudBundle\Content\RelationContent #}
    {# @var block \whatwedo\CrudBundle\Block\Block #}
    {# @var view \whatwedo\CrudBundle\View\DefinitionView #}

    {% with content.option('parameters') %}
        <div class="bg-white">
            {% include content.option('template') %}
        </div>
    {% endwith %}
{% endblock %}

