{# @var view \whatwedo\CrudBundle\View\DefinitionView #}
{{ form_start(form, { attr: { id: 'crud_main_form', class: 'whatwedo_crud-form whatwedo_crud-form--create flex-grow mt-5' } }) }}
<h2 class="text-lg leading-6 font-medium text-neutral-900 mb-5">{{ title|default('')|trans }}</h2>

    {% if form.vars.errors|length > 0 %}
        <div class="mb-5 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            {{ form_errors(form) }}
        </div>
    {% endif %}

<div
    {% if view.definition.hasCapability(constant('whatwedo\\CrudBundle\\Enum\\Page::AJAXFORM')) %}
        {{ stimulus_controller('whatwedo/crud-bundle/ajax-form') }}
        data-ajax-url="{{ path(view.definition.getRoute(constant('whatwedo\\CrudBundle\\Enum\\Page::AJAXFORM')), {
            'case' : 'createmodal'
        }) }}"
    {% endif %}x
    class="whatwedo_crud-blocks whatwedo_crud-blocks--create h-full flex flex-wrap items-baseline"
>
    {% for block in view.blocks(constant('whatwedo\\CrudBundle\\Enum\\Page::CREATE')) %}
        {{ wwd_crud_render_block(block, view, constant('whatwedo\\CrudBundle\\Enum\\Page::CREATE'), form) }}
    {% endfor %}
</div>

<button type="submit"
        class="whatwedo-crud-button--action mt-5"
    {{ stimulus_action('whatwedo/core-bundle/modal-form', 'submitForm') }}
>
    {{ 'whatwedo_crud.add' | trans }}
</button>

{{ form_end(form) }}
