{# @var view \whatwedo\CrudBundle\View\DefinitionView #}
{% extends 'base.html.twig' %}

{% block main %}
    {% include '@whatwedoCrud/includes/main/_site_title.html.twig' with {'title':title, 'view': view} only %}
    {{ form_start(form, { attr: { id: 'crud_main_form', class: 'whatwedo_crud-form whatwedo_crud-form--create flex-grow' } }) }}

    {% if form.vars.errors|length > 0 %}
        <div class="relative mb-3 px-4 py-3 whatwedo-utility-input whatwedo-utility-input--error" role="alert">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div
        {% if view.definition.hasCapability(constant('whatwedo\\CrudBundle\\Enum\\Page::AJAXFORM')) %}
            {{ stimulus_controller('whatwedo/crud-bundle/ajax-form') }}
            data-ajax-url="{{ path(view.definition.getRoute(constant('whatwedo\\CrudBundle\\Enum\\Page::AJAXFORM')), {
                'case' : 'create'
            }) }}"
        {% endif %}
        class="whatwedo_crud-blocks whatwedo_crud-blocks--create flex flex-wrap gap-4 items-baseline"
    >
        {% for block in view.blocks(constant('whatwedo\\CrudBundle\\Enum\\Page::CREATE')) %}
            {% block block_definition_single_block %}
                {{ wwd_crud_render_block(block, view, constant('whatwedo\\CrudBundle\\Enum\\Page::CREATE'), form) }}
            {% endblock %}
        {% endfor %}
    </div>
    {{ form_end(form) }}
{% endblock %}
