{# @var view \whatwedo\CrudBundle\View\DefinitionView #}
{% extends 'base.html.twig' %}

{% block main %}
    {% include '@whatwedoCrud/includes/main/_site_title.html.twig' with {'title':title} only %}
    {{ form_start(form, { attr: { id: 'crud_main_form', class: 'whatwedo_crud-form whatwedo_crud-form--edit flex-grow' } }) }}

    {% if form.vars.errors|length > 0 %}
        <div class="mb-5 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div
        {% if view.definition.hasCapability(constant('whatwedo\\CrudBundle\\Enum\\Page::AJAXFORM')) %}
            {{ stimulus_controller('whatwedo/crud-bundle/ajax-form') }}
            data-ajax-url="{{ path(view.definition.getRoute(constant('whatwedo\\CrudBundle\\Enum\\Page::AJAXFORM')), {
                'case' : 'edit'
            }) }}"
        {% endif %}
        class="whatwedo_crud-blocks whatwedo_crud-blocks--edit bg-neutral-50 p-4 flex flex-wrap items-baseline"
    >
        {% for block in view.blocks(constant('whatwedo\\CrudBundle\\Enum\\Page::EDIT'))|filter(c => is_granted(c.option('edit_voter_attribute'), view.data)) %}
            {% set numberOfContentBlocks = 0 %}
            {% set block_content %}
                {% for content in block.contents(constant('whatwedo\\CrudBundle\\Enum\\Page::EDIT'))|filter(c => is_granted(c.option('edit_voter_attribute'), view.data)) %}
                    {% set numberOfContentBlocks = numberOfContentBlocks + 1 %}
                    {% with {
                        content: content,
                        block: block,
                        view: view,
                        form: form,
                    } %}
                        {{ block(content.option('block_prefix'), view.definition.layout) }}
                    {% endwith %}
                {% endfor %}
            {% endset %}

            {% if numberOfContentBlocks > 0 %}
                {% with {
                    content: block_content,
                    block: block,
                    view: view,
                    form: form,
                } %}
                    {{ block(block.option('block_prefix'), view.definition.layout) }}
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>
    {{ form_end(form) }}
{% endblock %}
